@import './quasar.variables.scss';

.mobile {
  .lm-culture-points {
    .points-container {
      .title {
        font-size: 12vw;
        margin-top: 2px;
        height: auto;
        line-height: 1;
      }

      .description {
        height: auto;
        line-height: 1;
        font-size: 1vw;
      }
    }
  }
}

.lm-about {
  .lm-about-culture {
    position: relative;
    top: -3.125rem;

    &::before {
      background: $secondary;
      content: ' ';
      height: 60%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      z-index: -1;
    }

    .card-container {
      background: #14281c;
      padding: 6.25rem 0;
    }

    .culture-card {
      border-radius: 0;

      .text-subtitle2 {
        font-size: 2rem;
      }
    }
  }
}


.lm-about-history {
  width: 100%;
  margin: 2.5rem 0;

  .left {
    .lm-history_img {
      height: 30rem;
    }
  }

  .right {
    padding: 2.5rem;

    .lm-history_title {
      margin-top: 1.25rem;
    }
  }
}

.lm-about-culture {
  margin-top: 6.25rem;
  padding: 1.25rem 0;
  width: 100%;

  .lm-about-culture_top {
    .lm-about-culture_title {
      margin-top: 1.25rem;
    }
  }

  .lm-about-culture_points {


    .lm-about-culture_container {
      position: relative;
      padding: 1.25rem;
      display: flex;

      .culture-name {
        font-size: 2rem;
        height: 10rem;
        background: $secondary;
        color: $white;
        // opacity: 0.67;
        border: .0625rem solid $secondary;
        border-right: 0;
        -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
        writing-mode: vertical-lr;
      }

      .culture-description {
        height: 100%;
        width: 100%;
        padding: 1.25rem;
        background: $primary;
        color: $quaternary;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
      }
    }

  }

  .lm-about-culture_img {}
}

.lm-bg-background {
  background: #08100b;
}

.lm-light-dark-background {
  background: radial-gradient(#0b150e 50%, #050505 100%);
}

.lm-comes-introduction {
  color: $quaternary;
}


.lm-culture-points {
  .points-container {
    height: 100%;

    .title {
      color: $quaternary;
      font-size: 9rem;
      height: 9rem;
      line-height: 9rem;
      margin-top: 1.25rem;
      text-align: center;
      width: 100%;
    }

    .description {
      height: 1rem;
      line-height: 1rem;
    }
  }

  .points-img {
    //  background: $quaternary;
    //  padding: 1rem;
    border: .1875rem solid $quaternary;
  }

  .points-border {
    border: .1875rem solid $quaternary;
  }
}

.lm-culture-team {
  .team-container {
    border-bottom: 1px solid $quaternary;

    &.last {
      border-bottom: none;
    }

    .team-avatar-p {
      padding-right: 1rem;
      padding-left: 5rem;
    }

    .team-avatar-p-r {
      padding-right: 6rem;
    }

    .team-avatar {
      box-shadow: 1rem 1rem $secondary;
    }
  }
}

.mobile {
  .lm-culture-team {
    .team-container {
      .team-avatar-p-r {
        padding: 1rem 1rem 1rem 0;
      }

      .team-avatar-p {
        padding: 1rem 1rem 1rem 0;
      }
    }
  }
}
