@import './quasar.variables.scss';

.lm-top-bar {
  background-color: $secondary;
  height: 100vh/2227 * 13;
}

.lm-header {
  padding: 12px;

  .navbar {

    .toggle {
      // margin-left: 20px;
    }

    .navbar-nav {
      padding-left: 0;
      display: flex;
      justify-content: space-evenly;

      .nav-item {
        list-style-type: none;
        // margin-right: 30px;

        a {
          position: relative;
          color: $secondary;
          text-decoration: none;
          font-size: 15px;
          letter-spacing: 4px;
        }
      }


    }
  }

  .header-logo {
    height: 50px;
  }

  .left {
    display: flex;

    .lm-margin {
      width: 20px;
    }
  }

  .right {
    display: flex;
    justify-content: flex-end;

    .lm-margin {
      width: 10px;
    }

    .search {
      color: $secondary;
    }
  }
}
