@import './quasar.variables.scss';

.lm-top-bar {
  background-color: $secondary;
  height: 100vh/2227 * 13;
}

.lm-header {

  .navbar {

    .toggle {
      // margin-left: 20px;
    }

    .navbar-nav {
      padding-left: 0;
      display: flex;
      justify-content: space-evenly;

      .nav-item {
        list-style-type: none;
        height: 70px;
        display: flex;
        align-items: center;
        position: relative;

        &:after {
          position: absolute;
          content: '';
          height: 1px;
          bottom: 0;
          left: 50%;
          width: 0;
          transform: translate(-50%);
          transition: all .3s ease-in-out;
        }

        &:hover:after {
          width: 100%;
          background: $secondary;
        }

        a {
          position: relative;
          color: $secondary;
          text-decoration: none;
          font-size: 15px;
          letter-spacing: 4px;
        }

        .sub-nav {
          background: rgba(0, 0, 0, 0.1);
        }

        .sub-item {
          border-bottom: 1px solid $primary;
          transition: all 0.3s ease;
          width: calc(100% + 5rem);
          display: flex;
          justify-content: center;
          left: -2.5rem;

          &:hover {
            border-bottom: 1px solid $secondary;
          }
        }
      }


    }
  }

  .lm-head-drawer {
    .logo-container {
      display: flex;
      justify-content: center;

      img {
        width: 200px;
      }
    }
  }

  .drawer-logo-container {
    padding: 8px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;

    .drawer-logo {
      width: 80%;
    }
  }

  .header-logo {
    height: 50px;
  }

  .left {
    display: flex;

    .lm-margin {
      width: 20px;
    }
  }

  .right {
    display: flex;
    justify-content: flex-end;

    .lm-margin {
      width: 10px;
    }

    .search {
      color: $secondary;
    }
  }
}
