// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary : #14281c;
$secondary : #cd932f;
$quaternary : #cc932e;
$accent : #9C27B0;
$background : #26322b;
$points-bg: #08100b;
$tertiary: #fe6200;
$gray: #e5e5e5;
$fade-green: #16261c;

$dark : #1D1D1D;
$dark-green: #14281a;

$positive : #21BA45;
$negative : #C10015;
$info : #31CCEC;
$warning : #F2C037;


$light-dark-green: #08100b;

$white: #FFF;
$services-bar-height :24px;
$light-fade-green: #26322b;


@mixin read-more {
  color: $white;
  font-size: 1.25rem;
  text-decoration: none;
  transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 1s;
}
