@import './quasar.variables.scss';


.lm-bg-background {
  background: #08100b;
}



.lm-culture-points {
  .points-container {
    height: 100%;

    .title {
      margin-top: 1.25rem;
      width: 100%;
      text-align: center;
      font-size: 9rem;
      height: 9rem;
      line-height: 9rem;
      color: $quaternary;
    }

    .description {
      line-height: 1rem;
      height: 1rem;
    }
  }

  .points-img {
    //  background: $quaternary;
    //  padding: 1rem;
    border: .1875rem solid $quaternary;
  }

  .points-border {
    border: .1875rem solid $quaternary;
  }
}

.lm-spot {
  .spot-container {
    border-bottom: 1px solid $quaternary;

    .spot-title {
      font-size: 6.2vw;
      height: 6.2vw;
      line-height: 6.2vw
    }

    .spot-description {
      // width: 33.6rem;
    }

    &.last {
      border-bottom: none;
    }

    .team-avatar-p {
      padding-right: .5rem;
      padding-left: 2rem;
    }

    .team-avatar-p-r {
      padding-right: 2.5rem;
    }

    .team-avatar {
      box-shadow: .5rem .5rem $primary;
    }
  }
}

.mobile {
  .lm-spot {
    .spot-container {
      .team-avatar-p-r {
        padding: 1rem 1rem 1rem 0;
      }

      .team-avatar-p {
        padding: 1rem 1rem 1rem 0;
      }
      
      .spot-title {
        font-size: 15vw;
        height: 15vw;
        line-height: 15vw;
      }
    }
  }
}
